extends ../templates/layout.pug

block main
    main.main
        div.container-form
            form(action='/auth/login' method='post')
                h4 Iniciar Seccion

                div.separator

                div.wrapper-input
                    input#lname(type='email' name='euser')
                    label.label-form(for='euser') Correo Electronico

                div.wrapper-input
                    input#lname(type='password' name='pemail')
                    label.label-form(for='password-email') Contraseña

                button.form-submit Registrar
            
                div.f-form
                    span.q-account Tiene una cuenta?
                    a(href='/auth/register').redirect-form Inicia Secion