footer.footer
            div.company-info
                div.conmpany-ifo
                    span H
                    p Lazaro
                div.social-media
                    a(href="https://www.facebook.com/" target="_blank")
                        img(src="/images/facebook.svg", alt="")
                    a(href="https://twitter.com/?lang=en" target="_blank")
                        img(src="/images/twitter.svg", alt="")
                    a(href="https://www.youtube.com/" target="_blank")
                        img(src="/images/youtube.svg", alt="")
                p ©️2022 copyright

            div.site-map
                ul.nav-list
                    li.nav-item 
                        a(href='/').nav-elemnt Inicio   
                    li.nav-item 
                        a(href='/about').nav-elemnt Nosotros
                    li.nav-item 
                        a(href='/service').nav-elemnt Servicio
                    li.nav-item 
                        a(href='/directory/directory').nav-elemnt Directorio Medico

            div.help
                ul.nav-list
                    li.nav-item 
                        a(href='/soport').nav-elemnt Soporte
                    li.nav-item 
                        a(href='/ask').nav-elemnt Preguntas Prequentes
                    li.nav-item
                        a(href='term').nav-elemnt Terminos y Servicio 
                    li.nav-item
                        a(href='privacy').nav-elemnt Privacidad