extends ./templates/layout.pug

block main
    main.main
        section.content-principal
            div.content-left
                h1 Dedicado al descubrimiento, Comprometidos a la atencion.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id in varius euismod elit massa hac volutpat. Nam.
                button.book-appointment Reserva tu Cita

            div.content-rigth
                img(src="../images/doctor.png", alt="")

        section.carousel-Specialties
            div.carousel-slice
                img.prev(src="../images/arrow-left-circle.svg", alt="")
                img.next(src="../images/arrow-right-circle.svg", alt="")

            h2 Nuestras Especialidades

            div.carousel
                div.carousel-info
                    img.img-item(src="../images/SpecialtiesOne.png", alt="")
                    div.label nombre especialidad 
                div.carousel-info
                    img.img-item(src="../images/SpecialtiesTwo.png", alt="")
                    div.label nombre especialidad 
                div.carousel-info
                    img.img-item(src="../images/SpecialtiesThree.png", alt="")
                    div.label nombre especialidad 
                div.carousel-info
                    img.img-item(src="../images/SpecialtiesOne.png", alt="")
                    div.label nombre especialidad 
                div.carousel-info
                    img.img-item(src="../images/SpecialtiesTwo.png", alt="")
                    div.label nombre especialidad 
                div.carousel-info
                    img.img-item(src="../images/SpecialtiesThree.png", alt="")
                    div.label nombre especialidad 